/*.container {
	background-color: cadetblue;
}*/

#appBar {
	margin-bottom: 1em;
}

.searchRoot {
	margin-left: auto;
	padding: 0.1em 0.25em;
	display: flex;
	align-items: center;
	width: 25em;
}

.searchInput {
	margin-left: 0.5em;
	flex: 1;
}

.searchIconButton {
	padding: 0.75em;
}

.searchDivider {
	width: 0.25em;
	height: 10em;
	margin: 0.25em;
}
