/*.container {
	background-color: cadetblue;
}*/

#appBar {
	margin-bottom: 1em;
}

.searchForm {
	margin-left: auto;
}

.searchPaper {
	padding: 0.1em 0.25em;
	display: flex;
	align-items: center;
	width: 25em;
}

.regionSelect {
	width: 4em;
}

.searchInput {
	margin-left: 0.5em;
	flex: 1;
}

.searchIconButton {
	padding: 0.75em;
}
