.champ-card {
    margin-bottom: 0.5em;
}

.champ-item {
    display: flex;
    flex-direction: row;
    padding: 0.75em 0.75em 0.75em !important;
}

.champ-item img {
    height: 4em;
    width: auto;
    margin-right: 1em;
}

.champ-item .content {
    height: available;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.champ-item #row1 {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.champ-item .content .name {
    font-weight: bold;
    font-size: 1.4em;
    margin-right: 0.6em;
}

.champ-item .content .level {
    font-weight: lighter;
    font-size: 1em;
    color: darkgray;
}

.champ-item .content .points {
    font-size: 1.4em;
    margin-top: auto;
}
