.summoner {
    position: relative;
}

.summoner img {
    vertical-align: middle;
    margin-right: 1em;
    margin-bottom: 0.5em;
    height: 10em;
}

.summoner .side-info {
    position: absolute;
    height: 100%;
    width: 100%;
    display: inline-block;
}

.summoner .side-info .name {

}

.summoner .side-info .level {

}

.summoner .below .region {
    background-color: cadetblue;
    border-radius: 4px;
    padding: 0.1em 0.25em;
}