#summonerParent {
    margin-bottom: 2.5em;
    height: fit-content;
    min-width: fit-content;
}

.summoner {
    display: flex;
    flex-direction: row;
}

.summoner img {
    height: 10em;
}

.summoner .side-info {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 0.5em;
    padding-left: 1.5em;
}

.summoner .side-info .row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.summoner .side-info .row .name {
    font-size: 2em;
}

.summoner .side-info .row .region {
    margin-left: 0.75em;
}

.summoner .side-info .level {

}
